<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.AdminDao">
    <select id="queryByname" resultType="Admin">
        select  username,password from  admin where username=#{username}
    </select>

    <select id="queryAdmin" resultType="Admin">
        select * from  admin
    </select>

    <select id="selecyCount" resultType="java.lang.Integer">
        select count(id) from  admin
    </select>
</mapper>
